body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/boto.png);
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
}

.subtitulo {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: #00000000;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  padding-left: 450px;
  padding-top: 25px;
}

.titulo {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: #00000000;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
  padding-top: 5px;
}

.lenda {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #e50914;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  padding-bottom: 40px;
  margin-left: 80px;
}

.texto {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
  padding-left: 170px;
  width: 550px;
}

.informaçoes {
  color: #ffffff;
}

.informaçoes {
  margin-top: 45px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.relacao {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
